
.main-body {
    background-color: #d5d4f5;
    
    .headings {
        color: #9693e6;
        text-align: center;
       padding: 20px;
    }
    .card-container {
        .card-divs{
            margin-top: 50px;
            padding: 0 20px;
        }
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            color: #9693e6;
            margin-bottom: 30px;
            padding-bottom: 20px;
            .card-text {
                text-align: center;
                color: #4b4a65;
                font-size: 16px;
                margin: 31px 15px 0px;
            }

            .main-title {
                font-size: 25px;
                font-family: sans-serif;
                margin: 10px 0px 0px;
                font-weight: bolder;
                font-family: " sans-serif";
            }

            .more-button {
                color: white;
                background: #9693e6;
                font-size: 16px;
                margin: 25px 76px 0;
                padding: 6px 46px 7px 45px;
                border-radius: 50px;
            }

            img {
                max-width: 250px;
                height: 250px;
                border-radius: 20px
            }
        }

    }
}
